.Owner {
    font-weight: bold;
    color: #c90f0f;
    margin-right: 8px;
}

.Date {
    font-weight: lighter;
    color: #c1c1c5;
}

.replyButton {
    border: none;
    background-color: #242a3d;
    color: aliceblue;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
    font-size: 0.8rem;
}

.replyButton:hover {
    cursor: pointer;
    background-color: aliceblue;
    color: #242a3d;
    text-decoration: none;
}