.NavBar {
    background-color: #ffffff;
    border: 1px solid #dadadf;
}

.chrono {
    color: #000000;
}

.sphere {
    color: #c90f0f;
}

.NavLink {
    padding: 5px;
}

.Active i {
    color: #c90f0f;
}